@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.landing {
	height: 100vh;
	font-size: 38px;
	background-color: pink;
	color: white;
	font-family: 'Lobster', cursive;
	padding-top: 20px;
}

.lobsterFont {
	font-family: 'Lobster', cursive;
}

.about {
	padding-top: 16px;
	padding-bottom: 32px;
	background-color: grey;
}

.schedule {
	padding-top: 16px;
	padding-bottom: 32px;
	background-color: pink;
}

.faq {
	padding-top: 16px;
	padding-bottom: 32px;
	background-color: grey;
}

.sponsors {
	padding-top: 16px;
	padding-bottom: 32px;
	background-color: pink;
}

.scheduleRowCell {
	padding: 3px 40px;
	border-bottom: 1px solid black;
}

.scheduleBlock {
	margin: 10px 20px;
	display: block;
}

th, td {
	border-bottom: 1px solid black;
}

body {
	margin: 0px;
}