@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.landing {
	height: 100vh;
	font-size: 38px;
	background-color: pink;
	color: white;
	font-family: 'Lobster', cursive;
	padding-top: 20px;
}

.lobsterFont {
	font-family: 'Lobster', cursive;
}

.about {
	padding-top: 16px;
	padding-bottom: 32px;
	height: auto;
	background-color: grey;
}

.schedule {
	padding-top: 16px;
	height: 300px;
	background-color: pink;
}

.faq {
	padding-top: 16px;
	padding-bottom: 32px;
	height: auto;
	background-color: grey;
}

.sponsors {
	padding-top: 16px;
	height: 300px;
	background-color: pink;
}