.sponsorWrapper {
  margin: 40px;
  /* background-color: #e0e8f7; */
  background-color: #f4f7fd;
}

.statistic {
  font-size: 20px;
}

.statistic strong {
  color: rgb(120, 60, 148);
  font-size: 1.2em;
}