.statisticCardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.statisticCardRow > * {
  /* flex: 1; */
}