.root {
  display: 'flex';
  flexwrap: 'wrap';
  justifycontent: 'space-around';
  overflow: 'hidden';
  backgroundcolor: theme.palette.background.paper;
}

.gridList {
  width: 500;
  height: 450;
}
